<div class="popup-new-list" ng-show="listsVm.newListPopup">
  <h2>Create new list</h2>
  <form name="listsVm.newListForm" class="form-group" novalidate>
    <input
      class="popup-list-name"
      type="text"
      name="listName"
      placeholder="List name*"
      custom-focus="listsVm.focus"
      ng-model="listsVm.newListTitle"
      ng-class="{ 'has-error': (listsVm.newListForm.listName.$invalid && listsVm.newListForm.listName.$dirty) ||
                               (listsVm.newListForm.listName.$pristine && listsVm.newListSubmitted) }"
      required>
    <p
      ng-class="{ 'has-error': (listsVm.newListForm.listName.$invalid && listsVm.newListForm.listName.$dirty) ||
                               (listsVm.newListForm.listName.$pristine && listsVm.newListSubmitted) }"
      class="popup-list-subnote"
      >
      * you can add #tags
    </p>
    <p class="popup-member-title">List member</p>
    <input type="text" placeholder="Name or email adress...">
    <div class="popup-list-member">
      <img src="../img/empty-avatar.jpg" alt="avatar">
      <div class="popup-list-member-data">
        <p class="popup-member-name">Tutti frutti</p>
        <p class="popup-member-email">tuttisupper@gmail.com</p>
      </div>
    </div>
    <!-- /.popup-list-member -->
    <button type="submit" class="done-button" ng-click="listsVm.saveNewList(listsVm.newListForm.$valid)">Save list</button>
  </form>
  <!-- /.form-group -->
</div>
<!-- /.popup-new-list -->
