.change-task {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 480px;
  z-index: 11;
  margin: auto;
  padding: 15px 30px 20px;
  background-color: #fff;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  opacity: 1;
  transform: scale(1);

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: transform .2s, opacity .2s;
  }

  &.ng-hide {
    opacity: 0;
    transform: scale(0);
  }
}

.task-color-title {
  display: inline-block;
  color: #464d5d;
  font-size: .9em;
}

.set-task-text {
  margin: 5% 0;
  font-size: 1.3em;
  text-align: left;
  color: #464d5d;
}

.set-task-color  {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #eee;


  > p {
    margin: 0 5px 0 0;
  }
}

.wrapper-task-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 6px;
  border: 2px solid #efefef;
  border-radius: 50%;

  &.active {
    border-color: #4a90e2;
  }


  > span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &.active .fa {
    display: block;
  }

  .fa {
    font-size: 0.8em;
    display: none;
    color: #fff;
    pointer-events: none;
  }

}

.task-color-1 {
  background-color: #acb2bb;
}

.task-color-2 {
  background-color: #55d7c7;
}

.task-color-3 {
  background-color: #ffc603;
}

.task-color-4 {
  background-color: #ba77ff;
}

.task-color-5 {
  background-color: #8c88ff;
}

.task-color-6 {
  background-color: #ff3366;
}

.extend-task-changes {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.change-task-title-text {
  display: inline-block;
  color: #464d5d;
  font-size: .9em;
  margin-left: 6px;
}

.add-task-due-date {
  @extend .extend-task-changes;

  input {
    margin-left: 22px;
    border: 0;
  }
}

.add-task-description {
  @extend .extend-task-changes;

  textarea {
    width: calc(100% - 22px);
    height: 56px;
    margin-left: 22px;
    border: 0;
    resize: none;
  }
}

.add-task-comment {
  @extend .extend-task-changes;

  textarea {
    width: calc(100% - 22px);
    height: 56px;
    margin-left: 22px;
    border: 0;
    resize: none;
  }
}

.remove-task {
  color: $luckyRed;
  cursor: pointer;

  p {
    display: inline-block;
  }
}
