<div class="list">
  <!-- Default panel contents -->
  <div class="list-edit" ng-click="editedState = !editedState" ng-class="{'list-edit-display': editedState}">
    <object data="img/icon/edit.svg" type="image/svg+xml">
    </object>
  </div>
  <!-- /.list-edit-state -->
  <div class="list-remove" ng-show="editedState" ng-click="removeList()">
    <span></span>
  </div>
  <!-- /.list-remove -->
  <header class="list-header">
    <h2 class="list-title" ng-bind="listData.title"></h2>
  </header>
  <form name="taskForm" novalidate>
    <!-- <span class="list-input-style-underline"> -->
      <input type="text"
            class="list-input-add-task"
            name="userTask"
            placeholder="Add new to-do"
            ng-model="task"
            ng-focus="focused=true"
            ng-blur="focused=false"
            ng-class="{'is-dirty': !taskForm.userTask.$error.required}"
            required>
    <!-- </span> -->
    <div ng-show="!taskForm.userTask.$error.required" class="list-button-add-task">
      <button type="button" class="done" ng-click="addNewTask()">Done</button>
      <button type="button" class="cancel" ng-click="clearInput()">Cancel</button>
    </div>
  </form>
  <div class="task-wrapper" ng-class="{'is-underlined': focused, 'is-dirty': !taskForm.userTask.$error.required}">
    <hr class="task-top-underline">
    <div class="task-group" ng-repeat="taskData in listData.task">
      <user-task task-data="taskData" list-data-id="listData._id"></user-task> <!-- maybe its vary crap code, now i don't know -->
    </div>
    <!-- /.task-group -->
  </div>
  <!-- /.task-wrapper -->
  <div class="list-social">
    <span>invite new people</span>
    <span>social icon</span>
  </div>
  <!-- /.task-social -->
</div>
