/* main colors */

$luckyRed: #f36;
$mainText: #464d5d;
$mainTextTwo: #828ea6;
$littleGray: #7a7d81;


/* list colors */
$peterRiver: #3498db;
$orange: #f39c12;
$greenSea: #16a085;
$amethyst: #9b59b6;
$alizarin: #e74c3c;

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

input {
  outline: none;
}


.relative {
  position: relative;
}

/* bootstrap !important */
.navbar {
  border: none;
  /*border-bottom: 1px solid #282a30;*/
  border-bottom: 1px solid #30323d;
  /*border-bottom: 1px solid #eee;*/
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default {
  /*height: 65px;*/
  /*background-color: #fff;*/
  background-color: #30323d;
  /*background-color: rgba(48,50,61,0.6);*/
}

.container-fluid {
  margin-top: 6px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.25rem;
  font-weight: 400;
  /*color: #e9e9e9;*/
  color: #acb1be;

  &:hover {
    color: #fff;
  }
}




/* Clearfix
**
** For modern browsers
** 1. The space content is one way to avoid an Opera bug when the
**    contenteditable attribute is included anywhere else in the document.
**    Otherwise it causes space to appear at the top and bottom of elements
**    that are clearfixed.
** 2. The use of `table` rather than `block` is only necessary if using
**    `:before` to contain the top-margins of child elements.
**
** Source: http://nicolasgallagher.com/micro-clearfix-hack/
*/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


