#index-page .navbar__auth,
#signup-page .navbar__auth,
#login-page .navbar__auth {
  display: block;
}

#index-page .navbar__brand,
#signup-page .navbar__brand,
#login-page .navbar__brand {
  display: block;
}

#home-page .navbar__links,
#profile-page .navbar__links {
  display: flex;
}

#home-page .userData,
#profile-page .userData {
  display: flex;
}
