<section>
  <div class="container">
    <div class="button-create-list">
      <button class="round-button" ng-click="accountVm.showNewList = !accountVm.showNewList"></button>
    </div>
    <div class="popup-new-list" ng-show="accountVm.showNewList">
      <h2>Create new list</h2>
      <form name="listForm" class="form-group" novalidate>
        <input
          type="text"
          name="listName"
          placeholder="List name"
          ng-model="accountVm.listTitle"
          ng-class="{ 'has-error': (listForm.listName.$invalid && listForm.listName.$dirty) ||
                                   (listForm.listName.$pristine && accountVm.submitted) }"
          required>
        <p
          class="error-new-list"
          ng-show="(listForm.listName.$invalid && listForm.listName.$dirty) ||
                   (listForm.listName.$pristine && accountVm.submitted)">
          Ooops! Empty list name
        </p>
        <p class="popup-member-title">List member</p>
        <input type="text" placeholder="Name or email adress...">
        <div class="popup-list-member">
          <img src="../img/empty-avatar.jpg" alt="avatar">
          <div class="popup-list-member-data">
            <p class="popup-member-name">Tutti frutti</p>
            <p class="popup-member-email">tuttisupper@gmail.com</p>
          </div>
        </div>
        <button type="submit" ng-click="accountVm.createNewList(listForm.$valid)"> Save list</button>
      </form>
    </div>
    <div class="filters-block">
      <div class="filters-search">
        <input type="text" placeholder="Start typing to search lists">
      </div>
      <!-- /.filters-search -->
      <div class="filters-element">
        <div class="filters-recommended">Recommended</div>
        <div class="filters-inbox">Inbox</div>
        <div class="filters-sort">Sorting</div>
      </div>
      <!-- /.filters-element -->
    </div>
    <!-- /.filters-block -->
    <div class="lists-wrapper">
      <div class="lists-block" ng-repeat="list in accountVm.lists">
        <list list-data="list"></list>
      </div>
    </div>
  </div>
  <div id="fog-of-war" ng-show="accountVm.showNewList" ng-click="accountVm.showNewList = !accountVm.showNewList"></div>
</section>
