#signup-page,
#login-page {
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.user-signup-form,
.user-login-form {
  width: 45%;
  margin: 5% auto;
  padding: 1% 5% 4%;
  background-color: #fff;

  .form-group {
    position: relative;
    margin-bottom: 5px;
  }

  h2 {
    font-weight: 300;
    text-align: center;
    color: $luckyRed;
  }

  label {
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2aabd;
  }

  .has-error input,
  .has-error input:focus {
    border-bottom: 1px solid $luckyRed;
  }

  input {
    position: relative;
    width: 100%;
    font-size: 0.95em;
    border: 0;
    border-bottom: 1px solid #dadee6;
    margin-bottom: 6%;
    color: #303F60;

    &:focus {
      border-bottom: 1px solid #b4b8be;
    }
  }

  .message {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    font-size: 0.85em;
    color: $luckyRed;
  }

  button {
    width: 100%;
    height: 2.8em;
    margin-top: 10px;
    border: none;
    background-color: $luckyRed;
    color: #fff;
  }

  .have-an {
    margin-top: 2%;
    font-size: 0.9em;
    color: #303F60;

    a {
      color: $luckyRed;
    }
  }
}
