<section id="users-signup">
  <div class="container">
    <form name="signupForm" class="user-signup-form" ng-submit="signupVm.submitData(signupForm.$valid)" novalidate>
        <h2>New account</h2>
        <div class="form-group"
          ng-class="{ 'has-error': signupForm.userName.$dirty && signupForm.userName.$invalid || (signupForm.userName.$pristine && signupVm.submitted) }">
          <label for="inputUsername">Your name</label>
          <input
            type="input"
            name="userName"
            id="inputUsername"
            ng-model="signupVm.userName"
            required>
          <p
            class="message"
            ng-messages="signupForm.userName.$error"
            ng-show="(signupForm.userName.$dirty && signupForm.userName.$invalid) || (signupForm.userName.$pristine && signupVm.submitted)">
            <span ng-message="required">Ooops! Name is required</span>
          </p>
          <p class="message">
            <span>{{ signupVm.message.name }}</span>
          </p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error': signupForm.userEmail.$dirty && signupForm.userEmail.$invalid || (signupForm.userEmail.$pristine && signupVm.submitted) }">
          <label for="inputEmail">Your email</label>
          <input name="userEmail" type="email" id="inputEmail" ng-model="signupVm.userEmail" required>
          <p
            class="message"
            ng-messages="signupForm.userEmail.$error"
            ng-show="(signupForm.userEmail.$dirty && signupForm.userEmail.$invalid) || (signupForm.userEmail.$pristine && signupVm.submitted)">
            <span ng-message="required">Ooops! E-mail is required</span>
            <span ng-message="email">Something wrong with email</span>
          </p>
          <p class="message">
            <span>{{ signupVm.message.email }}</span>
          </p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error': signupForm.userPassword.$dirty && signupForm.userPassword.$invalid || (signupForm.userPassword.$pristine && signupVm.submitted) }">
          <label for="inputPassword">Your password</label>
          <input name="userPassword" type="password" id="inputPassword" ng-model="signupVm.userPassword" required>
          <p
            class="message"
            ng-messages="signupForm.userPassword.$error"
            ng-show="(signupForm.userPassword.$dirty && signupForm.userPassword.$invalid) || (signupForm.userPassword.$pristine && signupVm.submitted)"
            >
            <span ng-message="required">Ooops! Password is required</span>
          </p>
          <p class="message">
            <span>{{ signupVm.message.pass }}</span>
          </p>
        </div>
        <button type="submit" >Create account</button>
        <div class="have-an">
          <span>Have an account?</span>
          <a ui-sref="login">Sign in</a>
        </div>
    </form>
  </div>
</section>
