<section id="users-auth">
	<div class="container">
		<form class="users-auth-form" ng-submit="authVm.submitData()">
			<h2>Have an account? Sign in</h2>
			<div class="form-group">
				<label for="inputUsername">Name</label>
				<input type="input" class="form-control" id="inputUsername" placeholder="Name" ng-model="authVm.username" required>
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="authVm.password" required>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
			<div class="form-group">
				<p>Don't have an account?</p>
				<a ui-sref="registration">Create</a>
			</div>
		</form>
	</div>
</section>
