.task-wrapper {
  position: relative;
  min-height: 1px;
  transform: translateZ(0);
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 39px;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #e7e9ea;
  }
}

.task-top-underline {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: #e7e9ea;
  border: 0;
}

.task-group {
  position: relative;

  &:first-child {
    margin-top: 5px;
  }
  /*padding: 5px 0;*/

  .task-change-position {
    position: relative;
    top: 5px;
    width: 20px;
    height: 16px;
    display: inline-block;
    background-size: 20px 16px;
    background-image: url("../img/icon/order.svg");
    cursor: pointer;
    vertical-align: top;
    opacity: 0;
  }

  &:hover .task-check-circle {
    transform: scale(1.35, 1.35);
  }

  .task-check {
    position:relative;
    top: 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    z-index: 3;
    vertical-align: top;

    > .task-check-circle {
      position:relative;
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 50%;
      transition: all 300ms ease;

      &.ng-hide {
        transform: scale(0, 0);
      }
    }

    > i {
      position: absolute;
      top: 1px;
      left: -4px;
      color: rgba(161, 166, 173, 0.38);
      background-color: #fff;
      border: 2px solid #fff;
      border-radius: 50%;
      transform: scale(1, 1);

      &.ng-hide-remove {
        transition: all 200ms ease;
        transition-delay: 300ms;
      }

      &.ng-hide {
        transform: scale(0, 0);
      }
    }
  }

  .task-text {
    position: relative;
    display: inline-block;
    width: 80%;
    padding: 2px 5px;
    font-size: 0.95em;
    color: #5e5e73;
    word-wrap: break-word;

    &:focus {
      border: 1px solid #ddd;
      outline: 0;
    }
  }

  &:hover .task-preference{
    visibility: visible;
  }

  .task-preference {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    visibility: hidden;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/icon/preference.svg");
      background-size: 16px 16px;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      transform-origin: 50% 50%;
    }
  }
}

.task-main {
  position: relative;
  padding: 5px 5% 5px 3%;
  cursor: pointer;
}

.task-is-completed .task-text {
  color: #a1a6ad;
  text-decoration: line-through;
}

.task__buttonEdit {
  margin-left: 40px !important;
}

.task__dropdown {
  position: absolute;
  top: 20px;
  right: -60px;
  max-height: 0;
  z-index: 2;
  overflow: hidden;
  visibility: visible;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(24, 28, 38, .38);
  transition: all 400ms cubic-bezier(.7, 0, .3, 1);

  &.task__dropdown--open {
    max-height: 500px;
    opacity: 1;
    box-shadow: 0 0 1px rgba(76, 86, 103, .25), 0 2px 18px rgba(31, 37, 50, .32);
  }
}

  .task__dropdownLists {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    transform: translate3d(0, -20px, 0);
    transition: transform 400ms cubic-bezier(.7, 0, .3, 1);

    .task__dropdown--open & {
      transform: translate3d(0, 0, 0);
    }
  }

  .task__list {
    padding: 5px;
    font-size: 0.9em;
    color: #5e5e73;
    cursor: pointer;
    transition: color 200ms ease;
    z-index: 100;
    white-space: nowrap;

    &:hover {
      color: #ea4c89;
      background-color: #f0f0f0;
    }
  }

  .task__list--separatedTop {
    border-top: 1px solid #ddd;
  }

  .task__list--separatedBottom {
    border-bottom: 1px solid #ddd;
  }

  .task__list--unhovered {
    cursor: default;
    -webkit-user-select: none;
    &:hover {
      background-color: #fff;
    }
  }

    .task__listParagraph {
      color: #aaa;
      margin: 0 0 4px;
    }

    .task__color {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
    }

    .task__color--active > .task__colorCheckmark.fa {
      opacity: 1;
    }

      .task__colorCheckmark.fa {
        font-size:0.8em;
        opacity: 0;
        color: #fff;
        pointer-events: none;
      }

    .task__color--gray {
      background-color: #acb2bb;
    }

    .task__color--azure {
      background-color: #55d7c7;
    }

    .task__color--golden {
      background-color: #ffc603;
    }

    .task__color--magenta {
      background-color: #ba77ff;
    }

    .task__color--violet {
      background-color: #8c88ff;
    }

    .task__color--red {
      background-color: #ff3366;
    }
