.popup-new-list {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 380px;
  margin: auto;
  padding: 15px 20px 20px;
  z-index: 11;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  transform: scale(1);

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: transform .2s, opacity .2s;
  }

  &.ng-hide {
    opacity: 0;
    transform: scale(0);
  }

  h2 {
    margin-bottom: 5%;
    font-size: 1.3em;
    text-align: center;
    color: #464d5d;
    font-weight: 400;
  }

  .form-group {
    position: relative;
  }

  .popup-list-subnote {
    margin: 0 0 10px;
    font-size: 0.8em;
    color: #68728a;

    &.has-error {
      color: $luckyRed;
    }
  }

  .popup-list-name {
    margin: 0;
  }

  .popup-member-title {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #464d5d;
    margin: 0 0 10px;
  }

  input {
    position: relative;
    width: 100%;
    height: 1em;
    margin: 0 0 20px;
    padding: 19px 18px;
    font-size: 0.9em;
    font-weight: 400;
    color: #464d5d;
    border: 1px solid #DEE3E9;
    border-radius: 4px;
    background-color: #ffffff;

    &:focus {
      border-color: #56b169;
    }

    &.has-error {
      border-color: $luckyRed;
    }
  }

  .popup-wrapper-finded-users {
    position: relative;
  }

  .popup-finded-users {
    width: 100%;
    position: absolute;
    top: -15px;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(43, 59, 93, .29);
    background-color: #ffffff;
    z-index: 10;
  }

  .popup-finded-user {
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #328ad6;
    }

    &:hover .popup-member-name,
    &:hover .popup-member-email {
      color: #ffffff;
    }
  }

  .popup-list-member {
    position: relative;
    margin-bottom: 5px;
  }


  .popup-list-member-image {
    width: 32px;
    height: 32px;
    border-radius: 50% 50%;
    vertical-align: top;
    object-fit: cover;
  }

  .popup-list-member-data {
    display: inline-block;
    width: calc(95% - 48px);
    margin: -3px 0 0 10px;
    vertical-align: middle;

    .popup-member-name {
      margin: 0;
      font-size: 0.9em;
      /*color: #464d5d;*/
      color: #00ab6b;
    }

    .popup-member-email {
      font-size: 0.8em;
      color: #555e71;
      margin: 0 0 5px;
    }
  }

  .popup-member-remove {
    display: inline-block;
    height: 100%;
    /*position: absolute;*/
    color: #cccccc;
    cursor: pointer;

    &:hover {
      color: #bbbbbb;
    }
  }


  .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
    background-image: url("../img/icon/plus-popup.svg");
    cursor: pointer;
    transform: rotate(45deg);

    &:hover {
      opacity: 0.7;
    }
  }
}
