<section class="account">
  <form name="passForm">
    <p class="account__serverError" ng-show="vm.errorConfirmPass">
      Your new password does not match your confirmation password.
    </p>
    <p class="account__serverError" ng-bind="vm.message"></p>
    <p class="account__serverDone" ng-bind="vm.messageDone"></p>
    <div class="account__fromGroup">
      <p class="account__text">Old password</p>
      <input type="password"
             name="oldpass"
             class="account__input"
             ng-model="vm.oldPass"
             required
             ng-class="{'account__input--error': passForm.oldpass.$invalid && vm.submitted}">
      <p class="account__inputError"
         ng-show="passForm.oldpass.$invalid && vm.submitted">
         Please enter your current password.
      </p>
    </div>
    <!-- /.account__fromGroup -->
    <div class="account__fromGroup">
      <p class="account__text">New password</p>
      <input type="password"
             name="newpass"
             class="account__input"
             ng-model="vm.newPass"
             required
             ng-class="{'account__input--error': passForm.newpass.$invalid && vm.submitted}">
      <p class="account__inputError"
         ng-show="passForm.newpass.$invalid && vm.submitted">
         Please enter your new password.
      </p>
    </div>
    <!-- /.account__fromGroup -->
    <div class="account__fromGroup">
      <p class="account__text">Confirm new password</p>
      <input type="password"
             name="newpassConfirm"
             class="account__input"
             ng-model="vm.newPassConfirm"
             required
             ng-class="{'account__input--error': passForm.newpassConfirm.$invalid && vm.submitted}">
      <p class="account__inputError"
         ng-show="passForm.newpassConfirm.$invalid && vm.submitted">
         Please confirm your new password.
      </p>
    </div>
    <!-- /.account__fromGroup -->
    <button type="button" class="done-button" ng-click="vm.savePassword(passForm.$valid)">save changes</button>
  </form>
</section>
