<div class="list">
  <!-- Default panel contents -->
  <h2 class="title-list">{{ listData.title }} </h2>
  <span class="list-settings"></span>
  <form name="todoForm" novalidate>
    <input type="text" name="userToDo" placeholder="Add new to-do" ng-model="toDoTask" required>
    <div ng-show="!todoForm.userToDo.$error.required" class="button-new-todo">
      <button type="button" class="cancel" ng-click="clearInput()">Cancel</button>
      <button type="button" class="done" ng-click="addNewToDo()">Done</button>
    </div>
  </form>
  <div class="todo-group" ng-repeat="toDo in toDos">
    <span class="todo-change-position"></span>
    <span class="todo-priority"></span>
    <p>{{ toDo.task }}</p>
    <span class="todo-preference"></span>
  </div>
  <!-- /.todo-group -->
  <div class="todo-social">

  </div>
  <!-- /.todo-social -->
</div>
