<section id="users-registration">
  <div class="container">
    <form name="regForm" class="users-registration-form" ng-submit="regVm.submitData(regForm.$valid)" novalidate>
        <h2>New account</h2>
        <div class="form-group"
          ng-class="{ 'has-error': regForm.userName.$dirty && regForm.userName.$invalid || (regForm.userName.$pristine && regVm.submitted) }">
          <label for="inputUsername">Your name</label>
          <input
            type="input"
            name="userName"
            id="inputUsername"
            ng-model="regVm.userName"
            required>
          <p
            class="message"
            ng-messages="regForm.userName.$error"
            ng-show="(regForm.userName.$dirty && regForm.userName.$invalid) || (regForm.userName.$pristine && regVm.submitted)">
            <span ng-message="required">Ooops! Name is required</span>
          </p>
          <p class="message">
            <span>{{ regVm.message.name }}</span>
          </p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error': regForm.userEmail.$dirty && regForm.userEmail.$invalid || (regForm.userEmail.$pristine && regVm.submitted) }">
          <label for="inputEmail">Your email</label>
          <input name="userEmail" type="email" id="inputEmail" ng-model="regVm.userEmail" required>
          <p
            class="message"
            ng-messages="regForm.userEmail.$error"
            ng-show="(regForm.userEmail.$dirty && regForm.userEmail.$invalid) || (regForm.userEmail.$pristine && regVm.submitted)">
            <span ng-message="required">Ooops! E-mail is required</span>
            <span ng-message="email">Something wrong with email</span>
          </p>
          <p class="message">
            <span>{{ regVm.message.email }}</span>
          </p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error': regForm.userPassword.$dirty && regForm.userPassword.$invalid || (regForm.userPassword.$pristine && regVm.submitted) }">
          <label for="inputPassword">Your password</label>
          <input name="userPassword" type="password" id="inputPassword" ng-model="regVm.userPassword" required>
          <p
            class="message"
            ng-messages="regForm.userPassword.$error"
            ng-show="(regForm.userPassword.$dirty && regForm.userPassword.$invalid) || (regForm.userPassword.$pristine && regVm.submitted)"
            >
            <span ng-message="required">Ooops! Password is required</span>
          </p>
          <p class="message">
            <span>{{ regVm.message.pass }}</span>
          </p>
        </div>
        <button type="submit" >Create account</button>
        <div class="have-an">
          <span>Have an account?</span>
          <a ui-sref="login">Sign in</a>
        </div>
    </form>
  </div>
</section>
