<section id="users-registration">
  <div class="container">
    <form class="users-registration-form" ng-submit="submitData()">
        <h2>New account</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="formRegData.username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="formRegData.email" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="formRegData.password" required>
        </div>
        <button type="submit" class="btn btn-default">Create account</button>
        <div class="form-group">
          <p>Have an account?</p>
          <a ui-sref="login">Sign in</a>
        </div>
    </form>
  </div>
</section>