<section id="users-registration">
  <div class="container">
    <form class="users-registration-form" ng-submit="regVm.submitData()">
        <h2>New account</h2>
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="input" class="form-control" id="inputUsername" placeholder="Name" ng-model="regVm.username" required>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="input" class="form-control" id="inputEmail" placeholder="Email" ng-model="regVm.email" required>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="regVm.password" required>
        </div>
        <button type="submit" class="btn btn-default">Create account</button>
        <div class="form-group">
          <p>Have an account?</p>
          <a ui-sref="login">Sign in</a>
        </div>
    </form>
  </div>
</section>
