.popup-list-change-background {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 380px;
  margin: auto;
  padding: 15px 30px 20px;
  z-index: 11;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  transform: scale(1);

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: transform .2s, opacity .2s;
  }

  &.ng-hide {
    opacity: 0;
    transform: scale(0);
  }

  h2 {
    margin-bottom: 5%;
    font-size: 1.3em;
    text-align: center;
    color: #464d5d;
  }

  .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
    background-image: url("../img/icon/plus-popup.svg");
    cursor: pointer;
    transform: rotate(45deg);

    &:hover {
      opacity: 0.7;
    }
  }
}

.list-background-wrapper {
  margin: 2% 0 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-background-wrapper > span {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 5px;
  background-size: cover;
  background-position: top center;
  margin: 5px 0;

  &.is-choosen {
    border: 2px solid #7ec58d;
  }
}

.list-background-1 {
  background-image: url("../img/list-background/tower.jpg");
}

.list-background-2 {
  background-image: url("../img/list-background/mountain.jpg");
}

.list-background-3 {
  background-image: url("../img/list-background/autumn-mountain.jpg");
}

.list-background-4 {
  background-image: url("../img/list-background/sleeping-dog.jpg");
}

.list-background-5 {
  background-image: url("../img/list-background/alice-cat.jpg");
}

.list-background-6 {
  background-image: url("../img/list-background/skyscraper-one.jpg");
}

.list-background-7 {
  background-image: url("../img/list-background/skyscraper-two.jpg");
}

.list-background-8 {
  background-image: url("../img/list-background/forest-in-fog.jpg");
}
